<?xml version="1.0" encoding="utf-8" ?>

<!-- This configuration file is required by the updater which runs on legacy .NET Framework for compatibility reasons -->

<configuration>
    <!-- Prefer .NET 3.5 (preinstalled on Windows 7), rollover to .NET 4.x (preinstalled on Windows 8+) -->
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v2.0.50727" />
        <supportedRuntime version="v4.0" />
    </startup>
</configuration>