name: CD

on:
  push:
    tags:
    - '*'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Install .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.0.100

    - name: Pack
      run: |
        dotnet build --configuration Release
        dotnet pack --configuration Release --no-build

    - name: Deploy
      run: dotnet nuget push Onova/bin/Release/*.nupkg -s nuget.org -k ${{secrets.NUGET_TOKEN}}
